.user-wrapper{
  @extend html;
  height:100%;
  width:100%;
  padding: 150px 0 600px 0;
  display:flex;
  background:$background;
  // box-sizing:border-box;
   
    }
  .sidebar-user{
    width:20%;
    height:100%;
    background:white;
    margin:0 200px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    a{
      display:inline-block;
      text-decoration:none;
      color:black;
      font-size:20px;
      width:100%;
      border-bottom:1px solid $background;
      text-shadow: 2px 2px 1px gray;
      margin:5px 0;
      &:hover{
        background:lightblue;
      }
    }
    li{
      margin:10px 0;
      font-size:20px;
      list-style:none;
      border-bottom:1px solid $background;
      text-shadow: 2px 2px 1px gray;
      &:hover{
        background:lightblue;
      }
    } 
  }
  .main-user-box-introduction{
  @include main-user-box(auto);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  background:white;
  &__top{
    height:200px;
    display:flex;
    border-bottom:1px solid $background;
    &__left{
      width:120px;
      padding:20px;
    
    &__image{
      @include image(100px ,100px);
      border-radius:50%;
      margin:0 auto;
      line-height:200px;
      .user-avatar{
        @include image(100px ,100px);
        border-radius:50%;
      }

    }
    &__name{
      margin-top:30px;
      text-align:center;
    }
  }
  }
  &__middle-nil{
    height:100px;
    p{
      text-align:center;
      line-height:100px;
    }
  }
  &__middle{
    height:auto;
    padding:20px;
    
    &__box{
      letter-spacing:5px;
      word-wrap: break-word;
      height:auto;
      margin-bottom:10px;
      line-height:38px;
      nav{
        margin-top:20px;
        color :black;
      }
    }
    
  }
  &__bottom-nil{
    border-top:1px solid $background;;
    height:100px;
    p{
      text-align:center;
      line-height:100px;
      margin:0;
    }
  }
  &__bottom{
  height:auto;
  border-top:1px solid $background;
  padding:30px;
  justify-content: space-around;
  display:flex;
  flex-wrap:wrap;
  &--image{
    height:200px;
    width:150px;
    .reserve-image{
      @include image(150px,150px)
    }
    &__desc{
      height:50px;
      color:black;
      text-align:center;
      text-decoration:none;
      margin-top:10px;
      a{
        color:$button-color;
      }
     
    }

  }
  &__reserve-introduction{
    width:100%;
    height:auto;
    display:flex;
    border:1px solid $background;
    justify-content:flex-start ;
    line-height:40px;
    a{
      width:10%;
      color:$button-color;
    }
    .reserve-image{
      @include image(30px, 30px);
      margin:10px;
    }
    &--desc{
      margin:10px;
      width:90%;

    }
  }
  
  }
 
  }
