.category-show-wrapper-product__container
  -@products.each do |product|
    .category-show-wrapper-product__container--box
      =link_to product_path(product.id),class:"category-link-product" do
        =image_tag("#{product.product_images[0].image}",class:"category-show-wrapper-product__container--box-image")
        .category-show-wrapper-product__container--box__text
          .category-show-wrapper-product__container--box__text--name
            =product.name
          .category-show-wrapper-product__container--box__text--price
            ¥ #{product.price}