.header
  .left-wrapper
    .left-wrapper__logo experience
  .right-wrapper
    -if user_signed_in?
      %nav.right-wrapper__nav
        %ul.right-wrapper__nav__scorp
          
          =link_to "top",root_path
          
          =link_to "体験","/"
          
          =link_to "mypage",users_path
          
          = link_to "ホストになる",new_product_path
    -else
      %nav.right-wrapper__nav
        %ul.right-wrapper__nav__scorp
          
          =link_to "top","/"
        
          =link_to "体験","/"
        
          =link_to "新規会員登録",new_user_registration_path
        
          =link_to "ログイン",new_user_session_path