.user-container
  .form-user
    %h2
      新規会員登録
    =form_with model:@user ,scope:'user',url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f|
     
      .form-user__label.nickname
        =f.label "ニックネーム"
        %em
          必須
        %br/
      .form-user__text.nickname
        =f.text_field :nickname,autofocus:true,placeholder:"nicknameを入力してください(１０文字以内)",maxlength:"10",class:"text--nickname"
      .form-user__label.email-label
        =f.label "email"
        %em
          必須
        %br/
      .form-user__text.email
        =f.email_field :email,autocomplete:"email",placeholder:"PC・携帯どちらでも可",class:"text--email"
      .form-user__label.password-label
        =f.label "password"
        %em
          必須
        %br/
      .form-user__text.password
        =f.password_field :password,autocomplete:"password",placeholder:"8文字以上、１６文字以内で入力してください",maxlength:"16",minlength:"8",class:"text--password"
      .form-user__label.password-confirmation-label
        =f.label "パスワード確認"
        %em
          必須
        %br/
      .form-user__text.password-confirmation
        =f.password_field :password_confirmation, autocomplete:"password",placeholder:"入力したパスワードを入力してください",maxlength:"16",minlength:"8",class:"text--password-c"
      %h2 本人確認
      =f.fields_for :user_profile do |u|
        .form-user__label.last_name-label
          =u.label "名字"
          %em
            必須
          %br/
        .form-user__text.last_name
          =u.text_field :last_name,autofocus:true,placeholder:"名字を入力してください",class:"text--last-n"
        .form-user__label.first_name-label
          =u.label "名前"
          %em
            必須
          %br/
        .form-user__text.first_name
          =u.text_field :first_name,autofocus:true,placeholder:"名前を入力してください",class:"text--first-n"
        .form-user__label.last_kata-label
          =u.label "名字カナ"
          %em
            必須
          %br/
        .form-user__text.last_kata
          =u.text_field :last_name_kata, autofocus: true, placeholder:"カタカナで入力してください",class:"text--last-k"
        .form-user__label.first_kata-label
          =u.label "名前カタ"
          %em
            必須
          %br/
        .form-user__text.first_kata
          =u.text_field :first_name_kata,autofocus: true, placeholder:"カタカナで入力してください",class:"text--first-k"
        .form-user__label.phone-label
          =u.label "電話番号"
        .form-user__text.phone
          =u.text_field :tel, autofocus: true, placeholder: "携帯電話の番号を入力",class:"text--phone"
        .form-user__label.birthday
          =u.label "誕生日"
          %em
            必須
          %br/
        .form-user__collection
          -# = raw sprintf(u.date_select(:birth, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year), default: Date.new(1989, 1, 1),:class =>"bootstrap-date-only-width" ,date_separator: '%s'), '年 ', '月 ') + '日'
          = raw sprintf(u.date_select(:birth, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year), default: Date.new(1989, 1, 1),:class =>"bootstrap-date-only-width" ,date_separator: '%s'), '年 ', '月 ') + '日'
        = f.submit "登録する",class:"form--submit"
          

                      
      





